@charset "UTF-8";

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}


.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: gold;
    color: black;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.side a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.side a:hover {
    text-decoration: underline;
    color: blue;
}

.img {
    width: 80%;
    height: 180px;
    margin: 20px 0px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.main h2 {
    text-align: center;
    font-size: 2em;
}

.main p {
    text-align: center;
    color: #000;
    font-family: cursive;
    font-size: 1.2em;
}

.img-main {
    width: 50%;
    position: relative;
    left: 300px;
    margin: 15px 0px;
}

.texto-main {
    text-align: center;
    font-family: cursive;
    font-size: 1.2em;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
}

.footer h2,
p {
    color: #fff;
    text-align: center;
    font-size: 17px;
}

.footer h2 {
    font-size: 24px;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}

h3 {
    color: #fff;
    font-size: 29px;
}